.wrapper {
  background: url(./background.jpg);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  min-height: 100vh;
  padding: 0% 10%;
}
