.card {
  border-radius: 2px;
  height: 175px;
  margin: 7px 2px;
  position: relative;
  width: 175px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  height: 100%;
  width: 100%
}

.card > .content > ul > li {
  margin-top: 18px;
}
